In [29]:
import pandas as pd

data = pd.read_csv('D:\data.csv')

data['total_income'] = data['total_income'].fillna(data['total_income'].median())
data['days_employed'] = abs(data['days_employed'])
data['days_employed'] = data['days_employed'].fillna(data['days_employed'].median())
data['total_income'] = data['total_income'].astype('int')
data = data.drop_duplicates().reset_index(drop=True)
data['education'] = data['education'].str.lower()
data_education = data[['education', 'education_id']]
data_family = data[['family_status', 'family_status_id']]
data = data.drop(columns=['education'])


def total_income_count(income):
    if income <= 30000:
        return 'E'
    if (income > 30000) and (income <= 50000):
        return 'D'
    if (income > 50000) and(income <= 200000):
        return 'C'
    if (income > 200000) and (income <= 1000000):
        return 'B'
    return 'A'

    
marr = ['свадьба', 'на проведение свадьбы', 'сыграть свадьбу']
prop = ['операции с недвижимостью',
        'покупка коммерческой недвижимости',
        'операции с жильем','покупка жилья для сдачи',
        'операции с коммерческой недвижимостью',
       'жилье',
       'покупка жилья',
       'покупка жилья для семьи',
       'строительство собственной недвижимости',
       'недвижимость',
       'операции со своей недвижимостью',
       'строительство жилой недвижимости',
       'покупка недвижимости',
       'покупка своего жилья',
       'строительство недвижимости',
       'ремонт жилью',
       'покупка жилой недвижимости']
educ = ['заняться высшим образованием',
        'дополнительное образование',
        'высшее образование',
        'получение дополнительного образования',
       'образование',
       'получение образования',
       'профильное образование',
       'получение высшего образования',
       'заняться образованием']
auto = ['на покупку своего автомобиля',
        'автомобиль',
        'сделка с подержанным автомобилем',
        'свой автомобиль',
        'автомобили',
       'на покупку подержанного автомобиля',
       'на покупку автомобиля',
       'приобретение автомобиля',
       'сделка с автомобилем']

def purpose_category_research(purpose):
    if purpose in marr:
        return 'проведение свадьбы'
    if purpose in prop:
        return 'операции с недвижимостью'
    if purpose in educ:
        return 'получение образования'
    if purpose in auto:
        return 'операции с автомобилем'
    

data['total_income_category'] = data['total_income'].apply(total_income_count)
data['purpose_category'] = data['purpose'].apply(purpose_category_research)

# вопрос 1
data[data['children'] == -1] = 0
d_1 = {
     'total': [19731, 1740, int(1740/21471*100)],
     '0 children': [13091, 1063, int(1063/14154*100)],
     '1 children':[4365,  444, int(444/4809*100)],
     '2 children':[1858, 194, int(194/2052*100)],
     '3 children':[303, 27, int(27/330*100)],
     '4 children':[37, 4, int(4/41*100)],
     '5 children':[9, 0, 100],
     '20 children':[68, 8, int(8/76*100)]
      }
children_table = pd.DataFrame(data=d_1)
#display(children_table)


# вопрос 2
d_2 = {
      'total':[19731, 1740, int(1740/21471*100)],
      'женат / замужем':[11432, 930, int(930/12362*100)],
      'гражд. брак':[3770, 388, int(388/4158*100)],
      'вдовец / вдова':[892, 63, int(63/955*100)],
      'в разводе':[1106, 85, int(85/1191*100)],
      'Не женат / не замужем':[2531, 274, int(274/2805*100)],
      }
family_status_table = pd.DataFrame(data=d_2)
#display(family_status_table)


# вопрос 3 
d_3 = {
       'total':[19731, 1740, int(1740/21471*100)],
       'A':[23, 2, int(2/25*100)],
       'B':[4677, 356, int(356/5033*100)],
       'C':[14636, 1359, int(359/15995*100)],
       'D':[328, 21, int(21/349*100)],
       'E':[20, 2, int(2/22*100)]   
      }
income_table = pd.DataFrame(data=d_3)
#display(income_table)


# вопрос 4
d_4 = {
      'total':[19731, 1740, int(1740/21471*100)],
      'операции с недвижимостью':[10008, 782, int(782/10790*100)],
      'операции с автомобилем':[3895, 402, int(402/4297*100)],
      'получение образования':[3634, 370, int(370/4004*100)],
      'проведение свадьбы':[2147, 186, int(186/2333*100)]
      }
purpose_table = pd.DataFrame(data=d_4)
#display(purpose_table)
pivot_data = data.pivot_table(columns='children', values='debt', aggfunc='sum')
print(pivot_data)
print(data.columns)

children    0    1    2   3   4   5   20
debt      1063  444  194  27   4   0   8
Index(['children', 'days_employed', 'dob_years', 'education_id',
       'family_status', 'family_status_id', 'gender', 'income_type', 'debt',
       'total_income', 'purpose', 'total_income_category', 'purpose_category'],
      dtype='object')